<section id="actuality" class="actuality">
    <div class="actuality__header bg-secondary"></div>
    <div class="actuality__content">
        <div class="actuality__content__title flex flex-column align-center row-1">
            <h1 class="uppercase primary">Actualités</h1>
            <h2 class="font-2 white">Derniers Articles</h2>
        </div>
        <div class="actuality__articles">
            <article>
                <div class="article__head">
                    <img src="{{ asset('images/article/article-1.jpg') }}" alt="">
                </div>
                <div class="article__body">
                    <h3>Conduite sous stupéfiants ou en état alcoolique</h3>
                    <p class="opacity-6">Le guide du conducteur averti.</p>
                    <a href="#" class="primary">Lire la suite</a>
                </div>
            </article>
            <article>
                <div class="article__head">
                    <img src="{{ asset('images/article/article-2.jpeg') }}" alt="">
                </div>
                <div class="article__body">
                    <h3>La perte des points sur le permis de conduire</h3>
                    <p class="opacity-6">Comment éviter le carton rouge ?</p>
                    <a href="#" class="primary">Lire la suite</a>
                </div>
            </article>
            <article>
                <div class="article__head">
                    <img src="{{ asset('images/article/article-3.jpg') }}" alt="">
                </div>
                <div class="article__body">
                    <h3>Un notaire de Marines condamné pour harcèlement moral</h3>
                    <p class="opacity-6">Le guide du conducteur averti.</p>
                    <a href="#" class="primary">Lire la suite</a>
                </div>
            </article>
        </div>
    </div>
</section>