<section id="expertises" class="expertise">
    <div class="cards">
        <div id="auto-focus" class="card">
            <h1 class="card__title uppercase font-1-5">
                <a href="#auto-focus">Droit pénal</a>
            </h1>
            <div class="card__text text-center opacity-6">Professionally productivate B2B methodologies through premier data. Intrinsicly mesh diverse.</div>
            <div class="card__more primary">En savoir plus</div>
        </div>
        <div class="card">
            <h1 class="card__title uppercase font-1-5">Droit routier</h1>
            <div class="card__text text-center opacity-6">Professionally productivate B2B methodologies through premier data. Intrinsicly mesh diverse.</div>
            <div class="card__more primary">En savoir plus</div>
        </div>
        <div class="card">
            <h1 class="card__title uppercase font-1-5">Droit de la famille</h1>
            <div class="card__text text-center opacity-6">Professionally productivate B2B methodologies through premier data. Intrinsicly mesh diverse.</div>
            <div class="card__more primary">En savoir plus</div>
        </div>
    </div>
</section>