<section id="honorary" class="honorary">
    <div class="honorary__hero">
        <img src="{{ asset('images/honorary.jpg') }}" alt="">
    </div>
    <div class="honorary__side">
        <div class="flex flex-column align-center row-1">
            <h1 class="uppercase primary">honoraires</h1>
            <h2 class="font-2 secondary">Pourquoi me Choisir ?</h2>
        </div>
        <div class="reason">
            <div class="reason__item">
                <div class="circle flex justify-center align-center">
                    <img src="{{ asset('images/law.svg') }}" alt="" class="reason__logo" width="32" height="32">
                </div>
                <div class="reason__content">
                    <h3 class="reason__title">Experte en loi</h3>
                    <p class="reason__text opacity-6">Professionally productivate B2B methodologies through premier data. Intrinsicly mesh diverse.</p>
                </div>
            </div>
            <div class="reason__item">
                <div class="circle flex justify-center align-center">
                    <img src="{{ asset('images/hands.svg') }}" alt="" class="reason__logo" width="32" height="32">
                </div>
                <div class="reason__content">
                    <h3 class="reason__title">Premier rendez-vous gratuit</h3>
                    <p class="reason__text opacity-6">Professionally productivate B2B methodologies through premier data. Intrinsicly mesh diverse.</p>
                </div>
            </div>
            <div class="reason__item">
                <div class="circle flex justify-center align-center">
                    <img src="{{ asset('images/clock.svg') }}" alt="" class="reason__logo" width="32" height="32">
                </div>
                <div class="reason__content">
                    <h3 class="reason__title">Taux horaire</h3>
                    <p class="reason__text opacity-6">Professionally productivate B2B methodologies through premier data. Intrinsicly mesh diverse.</p>
                </div>
            </div>
            <a class="btn btn-primary flex justify-center align-center" href="#">Prendre rendez-vous</a>
        </div>
    </div>
</section>