<section id="presentation" class="presentation">
    <div class="circle-user"></div>
    <div class="presentation__side flex flex-column align-center row-1">
        <h1 class="font-2 text-center secondary">Avocate Disponible Droit Pénal & Famille</h1>
        <p class="text-center opacity-6">Professionally productivate B2B methodologies through premier data. Intrinsicly mesh diverse information with diverse expertise. Distinctively pontificate cross-unit convergence and superior information. </p>
        <a class="btn btn-primary flex align-center justify-center" href="#">En savoir plus</a>    
    </div>
</section>