{% extends 'base.html.twig' %}
{% block body %}
    {% include 'Page/_nav.html.twig' %}
    <main>
        {% include 'Page/_expertise.html.twig' %}
        {% include 'Page/_presentation.html.twig' %}
        {% include 'Page/_honorary.html.twig' %}
        {% include 'Page/_actuality.html.twig' %}
        {% include 'Page/_contact.html.twig' %}
        {% include 'Page/_footer.html.twig' %}
    </main>
{% endblock %}